################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mancoba.Software.Mobile.Sompisi/v15/Server/sqlite3
